//top部分css样式
.top{
    background-color: #F3F5F7;
    height: 40px;
    font-size: 12px;
    color: #71797F;
    .topLeft{
        float: left;
        ul{
            float: left;
            li{
                float: left;
                line-height: 40px;
                padding: 0 15px;
                cursor: pointer;
                position: relative;
                &:hover{
                    color: #FF734D;
                }
                &:first-child{
                    margin-left: 0px;
                }
                &:nth-child(2):hover,&:nth-child(3):hover{
                    background-color: #fff;
                }
                img{
                    margin: 0px 3px -1px 3px;
                }
                div{
                    position: absolute;
                    left: -1px;
                    top: 40px;
                    width: 160px;
                    height: 180px;
                    border: 1px solid #F3F5F7;
                    border-top: none;
                    display: none;
                }
            }
        }
    }
    .topRight{
        float: right;
        ul{
            float: left;
            li{
                float: left;
                line-height: 40px;
                padding: 0 15px;
                cursor: pointer;
                &:hover{
                    color: #FF734D;
                }
                &:last-child{
                    cursor: auto;
                    margin-right: 0;
                }
                &:last-child:hover{
                    color: #71797F;
                }
                &:nth-child(4):hover{
                    background-color: #fff;
                    span{
                        transition: 0.2s;
                        transform:rotate(270deg);
                    }
                }
            }
            .shopCar span{
                color: #FE7FA2;
            }
            .serve{
                position: relative;
                span{
                    font-family: '楷体';
                    margin-left: 3px;
                    font-weight: 700;
                    display: inline-block;
                    transform:rotate(90deg);
                }
                &:hover div{
                    color: #71797F;
                }
                div{
                    display: none;
                    position: absolute;
                    left: -1px;
                    right: -1px;
                    margin-left: auto;
                    margin-right: auto;
                    border: 1px solid #F3F5F7;
                    border-top: none;
                    p{
                        text-align: center;
                        &:hover{
                            color: #FF734D;
                        }
                    }
                }
            }
        }
    }
}
//header头部css样式
